.form-wrapper{
    text-align: center;
    color: white;
    border: 1px solid white;
    margin: 1em 20em;
    border-radius: 5px;
    background-color: black;
    opacity: 0.6;
}
.form-wrapper:hover{
    opacity: 1;
}
.btn-playlist{
    margin-bottom: 10px;
    opacity: 0.7;
}
.btn-playlist:hover{
  opacity: 1;
}
.form-desc{
    margin-bottom: 10px;
}